In [1]:
# Dependencies
import pandas as pd
import requests
import json
import pprint
import urllib
from urllib.parse import quote

In [2]:
# Constants
api_key = 'sp8XYAjUKMfB3Ju6COkBTJUBdCID_zRqvRvyis5_azBv823YKx30j85LTyZl2h6q0p4_CHwLQeFO_n-UXsLRqWFVlPuFq4kXiOWdCald8vg1OxyTtYtas3uMiEgLZnYx'
base_url = 'https://api.yelp.com'
SEARCH_PATH = '/v3/businesses/search'
BUSINESS_PATH = '/v3/businesses/'

In [63]:
# Pulling restaurant data for Detroit, Michigan and putting it into a DataFrame

# Parameters
MI_url_params = {
    'term': 'restaurants',
    'location': 'Detriot, Mi',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
Detroit_Restaurants = requests.get(url, headers=headers, params=MI_url_params).json()

# Setting up the columns for our DataFrame
Detroit_Restaurants_List = []

for venue in Detroit_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    Detroit_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
Detroit_df = pd.DataFrame(Detroit_Restaurants_List)
Detroit_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,Adelina,1040 Woodward Ave,48226,Detroit,MI,US,42.332922,-83.047456,5.0
1,Mad Nice,4120 Second Ave,48201,Detroit,MI,US,42.349100,-83.064960,4.1
2,BARDA Detroit,4842 Grand River Ave,48208,Detroit,MI,US,42.348500,-83.087860,4.4
3,Wright & Company,1500 Woodward Ave,48226,Detroit,MI,US,42.335230,-83.049020,4.3
4,Selden Standard,3921 2nd Ave,48201,Detroit,MI,US,42.347790,-83.064990,4.4
5,Supergeil,2442 Michigan Ave,48216,Detroit,MI,US,42.331566,-83.080071,4.5
6,Sexy Steak,1942 Grand River Ave,48226,Detroit,MI,US,42.335020,-83.054980,4.5
7,Oak & Reel,2921 E Grand Blvd,48202,Detroit,MI,US,42.372278,-83.066819,4.5
8,Standby,225 Gratiot Ave,48226,Detroit,MI,US,42.334484,-83.046114,4.4
9,Alpino,1426 Bagley St,48216,Detroit,MI,US,42.329946,-83.065102,4.6
10,Chartreuse Kitchen & Cocktails,15 E Kirby St,48202,Detroit,MI,US,42.360298,-83.066260,4.6
11,Presley's,1 Park Ave,48226,Detroit,MI,US,42.335675,-83.050527,4.6
12,Grey Ghost Detroit,47 Watson St,48201,Detroit,MI,US,42.345170,-83.055517,4.2
13,The Eagle,3461 Woodward Ave,48201,Detroit,MI,US,42.346260,-83.057422,4.2
14,Basan Detroit,2703 Park Ave,48201,Detroit,MI,US,42.341470,-83.056720,4.1
15,Bar Pigalle,2915 John R St,48201,Detroit,MI,US,42.344947,-83.053970,4.4
16,SheWolf Pastificio & Bar,438 Selden St,48201,Detroit,MI,US,42.347953,-83.062697,4.3
17,Ottava Via,1400 Michigan Ave,48216,Detroit,MI,US,42.331716,-83.065696,4.2
18,Takoi,2520 Michigan Ave,48216,Detroit,MI,US,42.331643,-83.080834,4.3
19,Lumen Detroit,1903 Grand River Ave,48226,Detroit,MI,US,42.334522,-83.054689,4.0

In [68]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
Detroit_df.to_csv("c:/Users/jclaw/Desktop/Detroit_df.csv", index=False, header=True)

In [64]:
# Pulling restaurant data for Chicago, Illinois and putting it into a DataFrame

# Parameters
Il_url_params = {
    'term': 'restaurants',
    'location': 'Chicago, Il',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
Chicago_Restaurants = requests.get(url, headers=headers, params=Il_url_params).json()

# Setting up the columns for our DataFrame
Chicago_Restaurants_List = []

for venue in Chicago_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    Chicago_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
Chicago_df = pd.DataFrame(Chicago_Restaurants_List)
Chicago_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,Girl & The Goat,809 W Randolph,60607,Chicago,IL,US,41.884181,-87.647947,4.4
1,The Purple Pig,444 N Michigan Ave,60611,Chicago,IL,US,41.890694,-87.624782,4.3
2,Penumbra,3309 W Fullerton Ave,60647,Chicago,IL,US,41.924426,-87.710898,4.8
3,Lone Owl Pub,1547 N Milwaukee Ave,60622,Chicago,IL,US,41.909767,-87.676052,4.6
4,The Dearborn,145 N Dearborn St,60602,Chicago,IL,US,41.884253,-87.629315,4.4
5,The Perch,1932 W Division,60622,Chicago,IL,US,41.903480,-87.676221,4.4
6,Nettare,1953 W Chicago Ave,60622,Chicago,IL,US,41.895751,-87.676625,4.4
7,Desert Hawk,2049 W Division St,60622,Chicago,IL,US,41.902887,-87.679176,4.8
8,Daisies,2375 N Milwaukee Ave,60647,Chicago,IL,US,41.924444,-87.699647,4.3
9,No Vacancy,509 N Wells St,60654,Chicago,IL,US,41.891150,-87.633750,4.6
10,La Serre,307 N Green St,60607,Chicago,IL,US,41.886990,-87.648480,5.0
11,Testaccio,2456 N California Ave,60647,Chicago,IL,US,41.926500,-87.697800,4.3
12,etta - Bucktown,1840 W North Ave,60622,Chicago,IL,US,41.910731,-87.674285,4.3
13,Izakaya Shinya,2255 W North Ave,60647,Chicago,IL,US,41.910140,-87.684520,4.5
14,Giant,3209 W Armitage Ave,60647,Chicago,IL,US,41.917100,-87.707460,4.3
15,The Whale Chicago,2427 N Milwaukee Ave,60647,Chicago,IL,US,41.925550,-87.701120,4.2
16,Kasama,1001 N Winchester Ave,60622,Chicago,IL,US,41.899692,-87.675600,4.5
17,Mirella’s Tavern,2056 W Division St,60622,Chicago,IL,US,41.903374,-87.679574,5.0
18,Lula Cafe,2537 N Kedzie Blvd,60647,Chicago,IL,US,41.927668,-87.706845,4.3
19,Amaru,1904 W North Ave,60622,Chicago,IL,US,41.910699,-87.675507,4.7

In [ ]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
Chicago_df.to_csv("c:/Users/jclaw/Desktop/Detroit_df.csv", index=False, header=True)

In [65]:
# Pulling restaurant data for New York City, New York and putting it into a DataFrame

# Parameters
NYC_url_params = {
    'term': 'restaurants',
    'location': 'New York, NYC',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
New_York_City_Restaurants = requests.get(url, headers=headers, params=NYC_url_params).json()

# Setting up the columns for our DataFrame
New_York_City_Restaurants_List = []

for venue in New_York_City_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    New_York_City_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
New_York_City_df = pd.DataFrame(New_York_City_Restaurants_List)
New_York_City_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,Olio e Più,3 Greenwich Ave,10014,New York,NY,US,40.733798,-73.999774,4.5
1,The Binc,60 Henry St,11201,Brooklyn,NY,US,40.699250,-73.992270,4.3
2,Carne Mare,89 South St,10038,New York,NY,US,40.705686,-74.002190,4.4
3,Rubirosa,235 Mulberry St,10012,New York,NY,US,40.722766,-73.996233,4.3
4,ARIARI,119 1st Ave,10003,New York,NY,US,40.727284,-73.985831,4.4
5,Izakaya Fuku,71-28 Roosevelt Ave,11372,Jackson Heights,NY,US,40.746408,-73.893884,4.4
6,Antidote,66 S 2nd St,11249,Brooklyn,NY,US,40.714186,-73.965493,4.6
7,La Grande Boucherie,145 W 53rd St,10019,New York,NY,US,40.762627,-73.980841,4.4
8,SOBOKU,276 Smith St,11231,Brooklyn,NY,US,40.682529,-73.993460,4.7
9,Gurumé,313 W 46th St,10036,New York,NY,US,40.760301,-73.988564,4.7
10,Konban,311 W 17th St,10011,New York,NY,US,40.741979,-74.001592,4.4
11,8282,84 Stanton St,10002,New York,NY,US,40.721610,-73.988750,4.6
12,Toriya,178 Stanton St,10002,New York,NY,US,40.720170,-73.983990,4.8
13,Chama Mama - Brooklyn Heights,121 Montague St,11201,Brooklyn,NY,US,40.694980,-73.994500,4.7
14,Madre,214 Franklin St,11222,Brooklyn,NY,US,40.733110,-73.957980,4.5
15,The Mayfly,269 E Houston St,10002,New York,NY,US,40.721520,-73.984620,4.6
16,Botte Brooklyn,327 Gold St,11201,Brooklyn,NY,US,40.694460,-73.983160,4.3
17,Gair,41 Washington St,11201,Brooklyn,NY,US,40.703113,-73.989414,5.0
18,AlMar,111 Front St,11201,Brooklyn,NY,US,40.702662,-73.989177,3.9
19,Otis,18 Harrison Pl,11206,Brooklyn,NY,US,40.706011,-73.932598,4.8

In [ ]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
New_York_City_df.to_csv("c:/Users/jclaw/Desktop/Detroit_df.csv", index=False, header=True)

In [67]:
# Pulling restaurant data for Los Angeles, California and putting it into a DataFrame

# Parameters
CA_url_params = {
    'term': 'restaurants',
    'location': 'Los Angeles, Ca',
    'limit': 50}

# Setting up the URL to include our parameters
url = '{0}{1}'.format(base_url, quote(SEARCH_PATH.encode('utf8')))
headers = {'Authorization': 'Bearer %s' % api_key}

# Requesting data to be retreived and converting it into json format
Los_Angeles_Restaurants = requests.get(url, headers=headers, params=CA_url_params).json()

# Setting up the columns for our DataFrame
Los_Angeles_Restaurants_List = []

for venue in Los_Angeles_Restaurants['businesses']:
    name = venue['name']
    address = venue['location']['address1']
    zip_code = venue['location']['zip_code']
    country = venue['location']['country']
    city = venue['location']['city']
    state = venue['location']['state']
    latitude = venue['coordinates']['latitude']
    longitude = venue['coordinates']['longitude']
    rating = venue['rating']
    Los_Angeles_Restaurants_List.append(
        {"name": name, "address": address, 
                                     "zip_code": zip_code, "city": city, "state": state, "country": country, 
                                     "latitude": latitude, "longitude": longitude, 
                                     "rating": rating})

# Creates our DataFrame
Los_Angeles_df = pd.DataFrame(Los_Angeles_Restaurants_List)
Los_Angeles_df.head(20)

,name,address,zip_code,city,state,country,latitude,longitude,rating
0,L'Antica Pizzeria Da Michele,1534 N Mccadden Pl,90028,Los Angeles,CA,US,34.099061,-118.337309,4.3
1,Running Goose,1620 N Cahuenga Blvd,90028,Los Angeles,CA,US,34.100520,-118.329270,4.3
2,Anju House,234 S Oxford Ave,90004,Los Angeles,CA,US,34.070152,-118.307633,4.3
3,GRANVILLE,8701 Beverly Blvd,90048,West Hollywood,CA,US,34.077130,-118.380680,4.4
4,Republique,624 S La Brea Ave,90036,Los Angeles,CA,US,34.064154,-118.343684,4.2
5,Kingyubu,3128 West 8th St,90005,Los Angeles,CA,US,34.057451,-118.295235,4.8
6,Ka'teen,6516 Selma Ave,90028,Los Angeles,CA,US,34.099480,-118.331670,4.0
7,OSTE,8142 W 3rd St,90048,Los Angeles,CA,US,34.072110,-118.367363,4.7
8,Hangari Kalguksu,3470 W 6th St,90020,Los Angeles,CA,US,34.062860,-118.297570,4.4
9,Great White,244 N Larchmont Blvd,90004,Los Angeles,CA,US,34.075877,-118.323393,4.1
10,Met Him At A Bar,801 S La Brea,90036,Los Angeles,CA,US,34.060415,-118.345018,4.3
11,Roasted Duck By Paord,5136 Hollywood Blvd,90027,Los Angeles,CA,US,34.101457,-118.301858,4.8
12,HanEuem,539 S Western Ave,90020,Los Angeles,CA,US,34.064166,-118.309516,4.5
13,Dasom By Chef Kang,3959 Wilshire Blvd,90010,Los Angeles,CA,US,34.062128,-118.313381,4.8
14,Louders,3470 W 6th St,90020,Los Angeles,CA,US,34.063090,-118.297540,4.5
15,Mother Tongue,960 N La Brea Ave,90038,Los Angeles,CA,US,34.088412,-118.343723,4.1
16,Enchant,681 S Western Ave,90005,Los Angeles,CA,US,34.060421,-118.309614,4.0
17,Olivia,205 S Vermont Ave,90004,Los Angeles,CA,US,34.070330,-118.292183,4.8
18,Pine & Crane,1521 Griffith Park Blvd,90026,Los Angeles,CA,US,34.090540,-118.277129,4.3
19,King Chang - LA,3732 W 6th St,90020,Los Angeles,CA,US,34.063290,-118.303720,4.8

In [ ]:
# Export our DataFrame as a CSV, without the Pandas index, but with the header
Los_Angeles_df.to_csv("c:/Users/jclaw/Desktop/Detroit_df.csv", index=False, header=True)